<div class="contact">
    <p>Contactanos</p>
    <div class="whatsapp"><i class="material-icons">whatsapp</i> +5491145638282</div>
    <div class="email"><i class="material-icons">alternate_email</i> ferreteria@gmail.com</div>
</div>
<div class="follow">
    <p>Seguinos</p>
    <i class="material-icons">flutter_dash</i>
    <i class="material-icons">camera_alt</i>
    <i class="material-icons">facebook</i>
</div>
<div class="location">
    <p>Calle falsa 123</p>
    <img class="img-location" src="img/googleMaps.png" alt="logo de ferreteria">
</div>