<div class="nav-logo">
            <a href="/">
            <img src="/img/LogoFerreteria80x54.png" alt="logo de ferreteria">
            </a>
        </div>

        <nav class="nav-search-bar">
            <form class="form-search-bar">
                <input class="input-search" type="text" placeholder="Buscar...">
                <button class="button-search" type="submit" value="">
                <i class="material-icons">search</i>
                </button>
            </form>
        </nav>

        <div class="nav-burger" id='burger-btn'>
            <i class="material-icons">reorder</i>
            <i class="material-icons">shopping_cart</i>
            <a class="nav-bar-carrito" href="/products/productCart">Carrito</a>
            
            <div class='menu-display menu'  id="display-burger">
                <a href="/users/register">Registrarse</a>
                <span>/</span>
                <a href="/products/productCart">Carrito</a>
                <ul class="list-burger">
                     <h3>Categorias</h3>
                   
                    <a href="/products/1"class="item-burger">Electricidad</a>
                    <a href="/products/1"class="item-burger">Buloneria</a>
                    <a href="/products/1"class="item-burger">Sanitarios</a>
                    <a href="/products/1"class="item-burger">Jardineria</a>
                    <a href="/products/1"class="item-burger">Quimicos</a>
                    <a href="/products/1"class="item-burger">Pintura</a>
                    <a href="/products/1"class="item-burger">Iluminacion</a>
                    <a href="/products/1"class="item-burger">Cerrajeria</a>
                    <a href="/products/1"class="item-burger">Elementos de Seguridad</a>
                </ul>
            </div>
            <script src="/js/home.js"></script>
        </div>
        </div>
