
        <div class="nav-logo">
            <img src="img/LogoFerreteria80x54.png" alt="logo de ferreteria">
        </div>

        <nav class="nav-search-bar">
            <form class="form-search-bar">
                <input class="input-search" type="text" placeholder="Buscar...">
                <button class="button-search" type="submit" value="">
                <i class="material-icons">search</i>
                </button>
            </form>
        </nav>

        <div class="nav-burger">
            <i class="material-icons">reorder</i>
            <i class="material-icons">shopping_cart</i>
        </div>
