<div class="nav-logo">
            <a href="/">
            <img src="/img/LogoFerreteria80x54.png" alt="logo de ferreteria">
            </a>
        </div>

        <nav class="nav-search-bar">
            <form class="form-search-bar">
                <input class="input-search" type="text" placeholder="Buscar...">
                <button class="button-search" type="submit" value="">
                <i class="material-icons">search</i>
                </button>
            </form>
        </nav>

        <div class="nav-burger">
            <i class="material-icons">reorder</i>
            <i class="material-icons">shopping_cart</i>
            <div class='menu-display'>
                <hr>
                <a>Registrarse</a>
                <hr>
                <ul class="list-burger">
                     <h3>Categorias</h3>
                   
                    <a class="item-burger">Electricidad</a>
                    <a class="item-burger">Buloneria</a>
                    <a class="item-burger">Sanitarios</a>
                    <a class="item-burger">Jardineria</a>
                    <a class="item-burger">Quimicos</a>
                    <a class="item-burger">Pintura</a>
                    <a class="item-burger">Iluminacion</a>
                    <a class="item-burger">Cerrajeria</a>
                    <a class="item-burger">Elementos de Seguridad</a>
                </ul>
            </div>
        </div>
        <script src="js/home.js"></script>