<nav class="support-bar"> 
    <span class="items-bar"><a href="/products/">Productos</a></span>
    <a class="items-bar" href="/"> Home </a>
    <span></span>
    <% if (locals.isLogged) { %>      
    <div class="registerUser-bar">
    <img src='/images/avatars/<%= userLogged.image%>' width="50" class="image-bar">
    <span class="greeting-bar">Hi <%= userLogged.firstName %>!</span>
    <span class="logout-bar"><a href="/users/logout">Logout</a></span>
    </div>
    <% }else{ %>
      <span class="user-bar"><a href="/users/register"> Register </a></span>
      <span class="login-bar"><a href="/users/login">Login</a></span>
    <% } %>
 </nav>