<nav class="support-bar">

    <span class="products-bar">Productos</span>
    <span></span>
    <span class="user-bar">
       <i class="material-icons">account_circle</i> <a href="/login"> Register </a>
    </span>
    <span class="login-bar"><a href="/login">Login </span> </a>
 
 </nav>