<div class="box-products">
    <div>
       <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp" alt="Foto de producto">
       <div class="box-text-off">
       <p>Oferta del dia</p>
       </div>
       <p class="prize-through">$2750</p>
       <div class="box-prize-off">
       <p>$1750</p>
       <p>30% OFF</p>
       </div>
       <p class="product-footer">Hacha de mano Cabo de madera 600grs.</p>
    </div>
 </div>