<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c91d94187c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style-home.css">


    <link href="https://fonts.googleapis.com/css2?family=Jost&family=Raleway:wght@300&display=swap" rel="stylesheet">

    <title>Home</title>
</head>
<body>
   <header>
      <div class="header-logo">
          <!-- <img src="someimage.com" alt="logo de ferreteria"> -->
      </div>
      <nav class="header-search-bar">
          <form class="form-search-bar">
              <input class="input-search" type="text" placeholder="Buscar...">
              <button class="button-search" type="submit" value="">
                  <i class="material-icons">
                  search
                  </i>
              </button>
          </form>
      </nav>
      <div class="header-burger">
          <span class="burger-bread-top"></span>
          <span class="burger-bread-paty"></span>
          <span class="burger-bread-bottom"></span>
      </div>
      <div class="header-shop">
          <i class="material-icons">
              shopping_cart
          </i>
      </div>

      
  </header>
  <div class="header-top2">
   <div class="menu-products">
   <h3>Productos</h3><i class="fas fa-chevron-down"></i>
</div>
</div>

      <section class="carrucel">
         <div class="slider">
            <div class="slider">
            <ul>
             <li><img src="/images-home/img-mechas.jpg"></li>
             <li><img src="/images-home/img-motosierra.jpg"></li>
             <li><img src="/images-home/img-walt-large.jpg"></li>
             </ul>
            </div>
            <!-- <div class="arrows"><i class="fas fa-angle-left"></i><i class="fas fa-angle-right"></i></div> -->
         </div>
      </section>
   </header>
   <main>
      <div class="title">
      <p>APROVECHA ESTOS DESCUENTAZOS</p>
      <hr>
      </div>
      <article class="products-off">
         <div class="arrow-left"><i class="fas fa-angle-left"></i></div>
         <div class="arrow-right"><i class="fas fa-angle-right"></i></div>

         <div class="box-products">
         <div class="product">
            <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp" alt="Foto de producto">
            <div class="box-text-off">
            <p>Oferta del dia</p>
            </div>
            <p class="prize-through">$2750</p>
            <div class="box-prize-off">
            <p>$1750</p>
            <p>30% OFF</p>
            </div>
            <p class="product-footer">Hacha de mano Cabo de madera 600grs.</p>
         </div>
      </div>

 <div class="box-products-2">
         <div class="product">
            <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp" alt="Foto de producto">
            <div class="box-text-off">
            <p>Oferta del dia</p>
            </div>
            <p class="prize-through">$2750</p>
            <div class="box-prize-off">
            <p>$1750</p>
            <p>30% OFF</p>
            </div>
            <p class="product-footer">Hacha de mano Cabo de madera 600grs.</p>
         </div>
      </div>

      
      <div class="box-products-3">
         <div class="product">
            <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp" alt="Foto de producto">
            <div class="box-text-off">
            <p>Oferta del dia</p>
            </div>
            <p class="prize-through">$2750</p>
            <div class="box-prize-off">
            <p>$1750</p>
            <p>30% OFF</p>
            </div>
            <p class="product-footer">Hacha de mano Cabo de madera 600grs.</p>
         </div>
      </div>

      
      <div class="box-products-4">
         <div class="product">
            <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp" alt="Foto de producto">
            <div class="box-text-off">
            <p>Oferta del dia</p>
            </div>
            <p class="prize-through">$2750</p>
            <div class="box-prize-off">
            <p>$1750</p>
            <p>30% OFF</p>
            </div>
            <p class="product-footer">Hacha de mano Cabo de madera 600grs.</p>
         </div>
      </div>
   </main>

<main>
   <article>
      <div class="title">
         <p>CATEGORIAS DESTACADAS</p>
         <hr>
      </div>
      <div class="art-categorias">
         <div class="cat-box">
            <div class="cat"><a href="/productList">Electricidad</a><i class="fas fa-bolt"></i></div>
         </div>
         <div class="cat-box">
            <div class="cat"><a href="/productList">Buloneria</a></div>
         </div>

         <div class="cat-box-2">
            <div class="cat"><a href="/productList">Sanitarios</a> <i class="fas fa-toilet"></i></div>
         </div>
         <div class="cat-box-2">
            <div class="cat"><a href="/productList">Jardineria</a> <i class="fas fa-tree"></i></div>
         </div>

         <div class="cat-box-3">
            <div class="cat"><a href="/productList">Quimicos</a> <i class="fas fa-flask"></i> </div>
         </div>
         <div class="cat-box-3">
            <div class="cat"><a href="/productList">Pintura</a> <i class="fas fa-brush"></i></div>
         </div>

         <div class="cat-box-4">
            <div class="cat"><a href="/productList">Iluminacion</a> <i class="far fa-lightbulb"></i></div>
         </div>
         <div class="cat-box-4">
            <div class="cat"><a href="/productList">Herramientas</a> <i class="fas fa-tools"></i></div>
         </div>

         <div class="cat-box-5">
            <div class="cat"><a href="/productList">Cerrajeria</a> <i class="fas fa-key"></i></div>
         </div>
         <div class="cat-box-5">
            <div class="cat"><a href="/productList">Elementos de Seguridad</a> <i class="fas fa-hard-hat"></i></div>
         </div>
      </div>
   </article>
</main>


   <section class="banner-footer">
      <nav>
         <ul>
            <li> <a href="/login"> MI CUENTA </a> </li>
            <li> <a href="/productCart"> CARRITO </a> </li>
         </ul>
      </nav>

      <div class="banner">
         <img src="/images/banner-footer.png" alt="">
      </div>
      <a href="#head">Volver Arriba</a>
      <hr>
   </section>

   <footer>
      <div>Encontranos En
         <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3287.6112288976524!2d-58.57412282439696!3d-34.51273910934077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1632368863175!5m2!1ses-419!2sar" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>  </div>
         <p><i class="fas fa-map-marker-alt"></i>Calle Falsa 123</p>
      </div>
      <nav>
         <div class="contacto">
            <p>Contactanos</p>
            <ul>
               <li> <i class="fas fa-phone-alt"></i> +5491123546767</li>
               <li> <i class="fas fa-at"></i> ferreteria@gmail.com</li>
            </ul>
         </div>
         <div class="social-contact">
            <p>Seguinos</p>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter"></i>
         </div>
      </nav>
   </footer>
 
</body>
</html>