<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c91d94187c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style-home.css">
    <title>Home</title>
</head>
<body>
   <header class="top" >
      <div class="header-top"id="head">
         <div class="logo">
            Ferreteria
         </div>
         <div class="search-bar">
            <form action="/" method="GET"></form>
            <input type="search"></input>
            <i class="fas fa-search"></i>
            
         </div>
         <div class="nav-icons">
            <i class="fas fa-shopping-cart"></i>
            <!-- <div class="menu-burger">
               <div class="menu-btn"></div> -->
            </div>
       </div>

       <div class="header-top2">
          <div class="menu-products">
          <h3>Productos</h3><i class="fas fa-chevron-down"></i>
       </div>
      </div>

      <section class="carrucel">
         <div class="slider">
            <div class="slider">
            <ul>
             <li><img src="/images/img-slider-1.png"></li>
             <li><img src="/images/img-slider-2.png"></li>
             <li><img src="/images/img-slider-3.png"></li>
             </ul>
            </div>
            <!-- <div class="arrows"><i class="fas fa-angle-left"></i><i class="fas fa-angle-right"></i></div> -->
         </div>
      </section>
   </header>
   <main>
      <div class="titulo">
      <p>APROVECHA ESTOS DESCUENTAZOS</p>
      <hr>
   </div>
      <article class="art-descuentos">
         <div class="arrow-left"><i class="fas fa-angle-left"></i></div>
         <div class="arrow-right"><i class="fas fa-angle-right"></i></div>
      
      <div class="container-products">
         <input type="radio" id="i1" >
         <input type="radio" id="i2">
         <input type="radio" id="i3">
            
         <div class="producto" id="one">
         <div class="img-off">
            <p>
            <img class="img-carrucel-2" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp" alt="Foto de producto">
            </p>
            <div class="caja-off-precio">
               <p class="oferta-texto">Oferta del dia</p>
               <p class="oferta-precio">$2750</p>
               <p class="precio">$1750</p>
            </div>
         </div>
            <label for="i3" class="pre"></label>
            <label for="i2" class="nxt"></label>
         </div>
            <div class="producto" id="two">
               <div class="img-off">
               <p>
               <img class="img-carrucel-2" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp" alt="Foto de producto">
               </p>
               <div class="caja-off-precio">
                  <p class="oferta-texto">Oferta del dia</p>
                  <p class="oferta-precio">$2750</p>
                  <p class="precio">$2750</p>
               </div>
               </div>
               <label for="i1" class="pre"></label>
               <label for="i3" class="nxt"></label>
             </div>        
            <div class="producto" id="three">
               <div class="img-off">
               <p>
               <img class="img-carrucel-2" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp" alt="Foto de producto">
               </p>
               <div class="caja-off-precio">
                  <p class="oferta-texto">Oferta del dia</p>
                  <p class="oferta-precio">$2750</p>
                  <p class="precio">$2750</p>
               </div>
               </div>
               <label for="i1" class="pre"></label>
               <label for="i3" class="nxt"></label>
            </div>
      </div>        
      </article>

   <article>
      <div class="titulo-2">
         <p>Categorias Destacadas</p>
         <hr>
      </div>
      <div class="art-categorias">
         <div class="cat-box">
            <div class="cat">Electricidad</div>
         </div>
         <div class="cat-box">
            <div class="cat">Buloneria</div>
         </div>
      </div>
   </article>
</main>


   <section class="banner-footer">
      <nav>
         <ul>
            <li>MI CUENTA</li>
            <li>CARRITO</li>
         </ul>
      </nav>

      <div class="banner">
         <img src="/images/banner-footer.png" alt="">
      </div>
      <a href="#head">Volver Arriba</a>
      <hr>
   </section>

   <footer>
      <nav>
         <div>
            <p>Contactanos</p>
            <ul>
               <li>+5491123546767</li>
               <li>ferreteria@gmail.com</li>
            </ul>
         </div>
         <div>
            <p>Seguinos</p>
         </div>
         <div>Encontranos En</div>
      </nav>
   </footer>
 
</body>
</html>