<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class="grid-container-error">
    <header class="nav-header">
        <%- include('./partials/header'); %>
    </header>
        <%- include('./partials/nav-bar') %>
        
    <main class="main-content-login">
    <img src="/images/404.jpeg" alt="error_404" class="image-error">
    <div class="texto-imagen">Ups! No hemos encontrado la página que estas buscando</div>
    </main>
    <footer class="nav-footer">
        <%- include('./partials/footer'); %>
    </footer>                
</body>
</html>