<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="grid-container-error">
    <header class="nav-header">
        <%- include('./partials/header'); %>
    </header>
        <%- include('./partials/nav-bar') %>
        
    <main class="main-content-login">
    <img src="/images/404.jpeg" alt="error_404" class="image-error">
    <div class="texto-imagen">Ups! No hemos encontrado la página que estas buscando</div>
    </main>
    <footer class="nav-footer">
        <%- include('./partials/footer'); %>
    </footer>                
</body>
</html>