<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Cart</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesheetProductCart.css">
</head>
<body>
    <header>
        <div class="header-logo">
            <img class="logoPerrito" src="images/logoPerrito.png" alt="logoPerrito">
        </div>
        <div class="conjuntoSearchTitle">
        <h1 class="tituloPrincipal">Ferreteria</h1>
        <nav class="header-search-bar">
            <form class="form-search-bar">
                <input class="input-search" type="text" placeholder="Buscar...">
                <button class="button-search" type="submit" value="">
                    <i class="material-icons">
                    search
                    </i>
                </button>
            </form>
        </nav>
        </div>
        <div class="header-burger">
            <span class="burger-bread-top"></span>
            <span class="burger-bread-paty"></span>
            <span class="burger-bread-bottom"></span>
        </div>
        <div class="header-shop">
            <i class="material-icons">shopping_cart</i>
        </div>
        <div class="login">
            <div class="usuario"><i class="fas fa-user-circle"></i></div>
            <p class="ingreso">Ingresar</p>
        </div>
    </header>
    <main>
        <div class="titulosLista">
            <strong class="escritosLista1"> Detalle</strong>
            <strong class="escritosLista2">Precio unitario</strong>
            <strong class="escritosLista3">Cantidad</strong>
            <strong class="escritosLista4">Sub Total</strong>
        </div>
        <article class="producto">
            <img class="destornillador" src="images/destornillador.jpg" alt="destornillador">
            <div class="datosProd">
                <p class="descripcion">Destornillador</p>
                <div class="preciosCantidades">
                    <p class="precioUnitario">$400</p>
                    <div class="masMenos">
                        <i class="fas fa-plus-circle"></i>
                        <p>1</p>
                        <i class="fas fa-minus-circle"></i>
                    </div>
                    <p>$400</p>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
       </article>
       <br>
       <hr>
       <article class="producto">
            <img class="destornillador" src="images/destornillador.jpg" alt="destornillador">
            <div class="datosProd">
                <p class="descripcion">Destornillador</p>
                <div class="preciosCantidades">
                    <p class="precioUnitario">$400</p>
                    <div class="masMenos">
                        <i class="fas fa-plus-circle"></i>
                        <p>1</p>
                        <i class="fas fa-minus-circle"></i>
                    </div>
                    <p>$400</p>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
       </article>
       <br>
       <hr>
       <article class="producto">
            <img class="destornillador" src="images/destornillador.jpg" alt="destornillador">
            <div class="datosProd">
                <p class="descripcion">Destornillador</p>
                <div class="preciosCantidades">
                    <p class="precioUnitario">$400</p>
                    <div class="masMenos">
                        <i class="fas fa-plus-circle"></i>
                        <p>1</p>
                        <i class="fas fa-minus-circle"></i>
                    </div>
                    <p>$400</p>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
       </article>
       <br>
       <hr>
       <article class="producto">
            <img class="destornillador" src="images/destornillador.jpg" alt="destornillador">
            <div class="datosProd">
                <p class="descripcion">Destornillador</p>
                <div class="preciosCantidades">
                    <p class="precioUnitario">$400</p>
                    <div class="masMenos">
                        <i class="fas fa-plus-circle"></i>
                        <p>1</p>
                        <i class="fas fa-minus-circle"></i>
                    </div>
                    <p>$400</p>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
       </article>
       <br>
       <hr>
       <article class="producto">
            <img class="destornillador" src="images/destornillador.jpg" alt="destornillador">
            <div class="datosProd">
                <p class="descripcion">Destornillador</p>
                <div class="preciosCantidades">
                    <p class="precioUnitario">$400</p>
                    <div class="masMenos">
                        <i class="fas fa-plus-circle"></i>
                        <p>1</p>
                        <i class="fas fa-minus-circle"></i>
                    </div>
                    <p>$400</p>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
       </article>
       <br>
       <hr>
       <article class="producto">
            <img class="destornillador" src="images/destornillador.jpg" alt="destornillador">
            <div class="datosProd">
                <p class="descripcion">Destornillador</p>
                <div class="preciosCantidades">
                    <p class="precioUnitario">$400</p>
                    <div class="masMenos">
                        <i class="fas fa-plus-circle"></i>
                        <p>1</p>
                        <i class="fas fa-minus-circle"></i>
                    </div>
                    <p>$400</p>
                    <i class="fas fa-trash-alt"></i>
                </div>
            </div>
       </article>
       <div class="linea"></div>
       <br>
       <article class="total">
          <p>Total</p>
          <p>$2400</p>
       </article>
       <div class="linea"></div>
       <br>
       <br>
       <section class="seccionDescuentos">
       <p class="descuento">Descuentos y cupones</p>
       <div class="descuento">
          <input type="text" name="cupon" placeholder="Ingresa el codigo de tu cupon" class="entrada">
       </div>
       <br>
       </section>
       <br>
       <article class="botones">
            <button class="boton">Finalizar la compra</button>
            <br>
            <br>
            <button class="boton">Continuar comprando</button>
       </article>
       <br>
       <br>
    </main>
    <footer>
        <div class="container">
            <div class="footer-div-contact">
                <p class="text-contact-us">CONTACTANOS</p>
                <br class="mini-espacio">
                <span class="footer-container-phone">
                    <i class="material-icons">whatsapp</i>
                    <p class="text-phone">+5491158763838</p>
                </span>
                <span class="footer-container-email">
                    <i class="material-icons">alternate_email</i>
                    <p class="text-email">ferreteria@gmail.com</p>
                </span>
            </div>
            <br>
            <div class="footer-div-follow">
                <p class="text-follow-us">SEGUINOS</p>
                <span class="footer-container-social-icons">
                    <i class="material-icons">facebook</i>
                    <i class="material-icons">flutter_dash</i>
                    <i class="material-icons">camera_alt</i>
                </span>
            </div>

            <div class="footer-div-location">
                <p class="text-location"> 123 Calle falsa </p>
                <div class="google-location"></div>
            </div>

        </div>
    </footer>
</body>
</html>