<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylesheet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>productCart</title>
</head>
<body>
    <header>
        <div class="encabezado1">
            <img class="logoPerrito" src="images/logoPerrito.png" alt="logoPerrito">
            <h1 class="tituloPrincipal">Ferreteria</h1>
            <div>
                <div class="usuario"><i class="fas fa-user-circle"></i></div>
                <p>Ingresar</p>
            </div>
        </div>
        <div class="encabezado2">
             <strong class="navProducto">Productos</strong>
             <div class="busqueda">
             <input class="input" type="text" name="buscar">
             <div class="lupa"><i class="fas fa-search"></i></div>
             </div>
             <div class="carrito"><i class="fas fa-shopping-cart"></i></div>
        </div>
    </header>
    <main>
        <div class="titulosLista">
            <strong class="escritosLista1"> Detalle</strong>
            <strong class="escritosLista2">Precio unitario</strong>
            <strong class="escritosLista3">Cantidad</strong>
            <strong class="escritosLista4">Sub Total</strong>
        </div>
        <div class="linea"></div>
        <article>
            <img class="destornillador" src="images/destornillador.jpg" alt="destornillador">
            <p>Destornillador</p>
            <p>$400</p>
            <div class="masMenos">
                <i class="fas fa-plus-circle"></i>
                <p>1</p>
                <i class="fas fa-minus-circle"></i>
            </div>
            <p>$400</p>
            <i class="fas fa-trash-alt"></i>
       </article>
       <br>
       <hr>
       <article>
           <img class="destornillador" src="images/destornillador.jpg" alt="destornillador">
           <p>Destornillador</p>
           <p>$400</p>
           <div class="masMenos">
            <i class="fas fa-plus-circle"></i>
               <p>1</p>
               <i class="fas fa-minus-circle"></i>
           </div>
           <p>$400</p>
           <i class="fas fa-trash-alt"></i>
        </article>
        <br>
        <hr>
        <article>
            <img class="destornillador" src="images/destornillador.jpg" alt="destornillador">
            <p>Destornillador</p>
            <p>$400</p>
            <div class="masMenos">
                <i class="fas fa-plus-circle"></i>
                <p>1</p>
                <i class="fas fa-minus-circle"></i>
            </div>
            <p>$400</p>
            <i class="fas fa-trash-alt"></i>
         </article>
         <br>
         <hr>
         <article>
            <img class="destornillador" src="images/destornillador.jpg" alt="destornillador">
            <p>Destornillador</p>
            <p>$400</p>
            <div class="masMenos">
                <i class="fas fa-plus-circle"></i>
                <p>1</p>
                <i class="fas fa-minus-circle"></i>
            </div>
            <p>$400</p>
            <i class="fas fa-trash-alt"></i>
         </article>
         <br>
         <hr>
         <article>
            <img class="destornillador" src="images/destornillador.jpg" alt="destornillador">
            <p>Destornillador</p>
            <p>$400</p>
            <div class="masMenos">
                <i class="fas fa-plus-circle"></i>
                <p>1</p>
                <i class="fas fa-minus-circle"></i>
            </div>
            <p>$400</p>
            <i class="fas fa-trash-alt"></i>
         </article>
         <br>
         <hr>
         <article>
            <img class="destornillador" src="images/destornillador.jpg" alt="destornillador">
            <p>Destornillador</p>
            <p>$400</p>
            <div class="masMenos">
                <i class="fas fa-plus-circle"></i>
                <p>1</p>
                <i class="fas fa-minus-circle"></i>
            </div>
            <p>$400</p>
            <i class="fas fa-trash-alt"></i>
         </article>
         <br>
         <div class="linea"></div>
         <article class="total">
            <p> </p>
            <p> </p>
            <p>Total</p>
            <p>$2400</p>
         </article>
         <br>
         <section class="seccionDescuentos">
         <p class="descuento">Descuentos y cupones</p>
         <div class="descuento">
            <input type="text" name="cupon" placeholder="Ingresa el codigo de tu cupon">
         </div>
         <br>
         </section>
    </main>
    <footer>
        <br>
        <button>Continuar comprando</button>
        <button>Finalizar la compra</button>
        <br>
    </footer>   
</body>
</html>