* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #647bf0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  justify-content: space-around;
}

div.header-logo {
  width: 4rem;
  height: 4rem;
  background-color: brown;
}

nav.header-search-bar {
  flex-basis: 50%;
}

form.form-search-bar {
  display: flex;
  position: relative;
  height: 2rem;
}

input.input-search {
  min-width: 2rem;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
}

button.button-search {
  position: absolute;
  right: 0px;
  width: 2rem;
  height: 100%;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

div.header-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
}

span[class*="burger-bread"] {
  display: block;
  width: 24px;
  height: 3px;
  background-color: white;
}

div.header-shop {
  text-align: center;
  min-width: 2rem;
  width: 2rem;
}
