.encabezado1 {
  display: flex;
  justify-content: space-between;
  background-color: #0E34A0;
  color: white;
  padding: 0.5rem;
  padding-right: 1.5rem;  
}

.usuario{
  font-size: 3rem;
  flex-grow: 0.10;
  text-align: center;
}

.tituloPrincipal{
  font-size: 5rem;
  flex-grow: 0.20;
  text-align: center;
}

.logoPerrito{
  border-radius: 5%;
  border: 2px solid black;
  width: 10vw;
  height: 20vh;
}

.navProducto{
  font-size: 1.5rem;
  flex-grow: 0.08;
  text-align: center;
}

.busqueda{
  flex-grow: 0.06;
  text-align: left;
}

.input{
  width: 15vw;
  height: 3vh;
}


.lupa{
  font-size: 1rem;
  text-align: unset;
}

.carrito{
  font-size: 2rem;
  flex-grow: 0.04;
  text-align: center;
}

.destornillador{
  width: 250px;
  height: 200px;
}

.encabezado2 {
  display: flex;
  justify-content: space-between;
  background-color: #F86624;
  padding: 0.5rem;
  padding-top: 1.5rem;
}

.linea {
  border-top: 1px solid black;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto;
}

main{
  background-color: #EDF7F6;
  font-size: 1.3rem;
}

.seccionDescuentos{
  background-color: #F86624;
}

.masMenos{
  display: flex;
  justify-content: space-between;
}

.titulosLista {
  display: flex;
  padding-top: 1.3rem;
}

.escritosLista1{
  font-size: 1.5rem;
  flex-grow: 0.50;
  text-align: right;
}

.escritosLista2{
  font-size: 1.5rem;
  flex-grow: 0.40;
  text-align: center;
}
.escritosLista3{
  font-size: 1.5rem;
  flex-grow: 0.20;
  text-align: left;
}
.escritosLista4{
  font-size: 1.5rem;
  flex-grow: 0.22;
  text-align: left;
}

article {
  display: flex;
  justify-content: space-between;
}

.total {
  display: flex;
  justify-content: space-around;
}

.descuento{
  display: flex;
  justify-content: center;  
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #0E34A0;  
}