*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

 /* VAR COLORS  */
 :root{
     --main-bg-color:#f2f2f2;
     --main-text-color:black;
     --main-hr-color:#212121;
     --main-bg-products-color:  #3F51B5;
     --main-linea-color:#BDBDBD;
     --main-btn-color: #fab73d;
     --main-header-color: #73c39e;;
 }
 /* VAR COLORS  */
header{
    width: 100%vw;
    background-color:var(--main-header-color)
}



body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: var(--main-text-color);
    min-width: 320px;
    background: repeating-linear-gradient(
  45deg,
  #eee,
  #eee 6px,
  #f2f2f2 6px,
  #f2f2f2 20px
);
}

a{
    text-decoration: none;
    color:var(--main-title-text-color);
}

/*--------- LOGO ---------*/

div.header-logo {
    width: 4rem;
    height: 4rem;
    background-color: brown;
  }
  header {
    
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    justify-content: space-around;
    min-width: 300px;
  }

  /*--------- SEARCH BAR ---------*/
  nav.header-search-bar {
    flex-basis: 50%;
  }
  form.form-search-bar {
    display: flex;
    position: relative;
    height: 2rem;
  }
  input.input-search {
    min-width: 2rem;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 4px;
  }
  button.button-search {
    position: absolute;
    right: 0px;
    width: 2rem;
    height: 100%;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
  
  /*------------ BURGER -----------*/
  div.header-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
  }
  span[class*="burger-bread"] {
    display: block;
    width: 24px;
    height: 3px;
    background-color: white;
  }
  
  /*--------- CART ICON ---------*/
  div.header-shop {
    text-align: center;
    min-width: 2rem;
    width: 2rem;
  }


.header-top2{
    width: 100%;
    text-align: center;
    margin-top:10px;
}

  /* ---------- SLIDER ---------- */



.slider{
    width: 100%;
    margin: auto;
    height:300px;
    overflow: hidden;
}

.slider ul{
    position:relative;
    padding:0;
    display:flex;
    width: 300%;
    animation: slider 10s infinite alternate;
}
.slider li{
    list-style: none;
    width: 100%;
}

.slider li img{
    width:100%;
    height:auto; 
   }
/* .arrows{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 130px;
    font-size: 40px;
} */
     /* SLIDER */

    /* ---------- MAIN-DESCUENTAZOS ---------- */
main{
    text-align: center;
    width: 100%;
}
.art-descuentos{
    display: flex;
    justify-content: center;
    width: 100vw;
    text-align: center;
    
}

.container-products,.container-products-2,.container-products-3,.container-products-4{
    display: flex;
    justify-content: center;
    width: 40%;
    text-align: center;
    transition:all .8s;
}

.container-products-2,.container-products-3,.container-products-4{
    display: none;
}



.titulo{
    font-size: 1.5em;
    font-weight: bold;
    display:inline-block;
    text-align: center;
    margin: 5% 10%;
    width: 70%;
    color:var(--main-title-text-color)
}

hr{
    margin-left: 20%;
    margin-right:20%;
    border: solid var(--main-hr-color) 1px;     
}

        /* PRODUCTO */
.producto{
    border-radius:5px ;
    width: 100%;   
    margin-top: 10px;
    background-color:var(--main-btn-color);
    box-shadow: 0px 0px 5px 1px black;
}
.descripcion{
    display: none;
    margin-top: 10px;
}

.container-products:hover{
    transform: scale(1.1);
}

.container-products:hover .descripcion{
    display: block;
}

.container-products-2:hover{
    transform: scale(1.1);
}
.container-products-3:hover{
    transform: scale(1.1);
}
.container-products-4:hover{
    transform: scale(1.1);
}


.arrow-left,.arrow-right{
    position: relative;
    top: 100px;
}

.arrow-right{
    order:1
}

.img-carrucel-2{
    width:100%;
    height:70%;
    border-radius: 5px 5px 0 0;
}

.caja-off-precio{
    display: flex;
    flex-direction: column;
    position: relative;
}

.oferta-texto{
    display: flex;
    position: absolute;
    bottom: 20px;
    background-color:red;
    width: 90px;
    border-radius: 0px 5px 5px 0px;
 }

 .precio-tachado{
    display: flex;
    color: black;
    text-decoration:line-through;
    font-family: Jostfamily;
 }

.precio-oferta{
    display: flex;
    font-family: Jostfamily;
    font-size:18px;
}
.precio{
    display: flex;
    position: relative;
    margin-right: 10px;
    font-family: Jostfamily;
}



 /* ---------- ARTICLE-CATEGORIAS ---------- */

.titulo-2{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 50px;
    color: var(--main-title-text-color);

}
.art-categorias{
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    /* background-color:var(--main-bg-products-color); */
    box-shadow: 0px 0px 2px 1px black;
    color: var(--main-title-text-color);
    height:20vh;
    width:80vw;
    padding: 3%;
    
}

.cat-box{
    margin: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:var(--main-btn-color);
    height:150px;
    border-radius: 5px;
}

.cat-box a{
    font-size: 1.8em;
    font-weight: bold;
}



/* ---------- FOOTER ---------- */
.banner-footer {
    text-align: center;
}

.banner-footer nav ul{
    display: flex;
    justify-content:space-evenly;
    margin: 25px;

}

.banner a{
    margin-top:15px;
}

footer div:first-child{
        text-align: center;
}

footer nav{
    display: flex;
    justify-content:space-between;
}
 footer nav ul{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
 }
.contacto p{
    display: flex;
}

 iframe{
     width:100px;
     height: 100px;
 }


@media (min-width:768px){
 .header-burger{
     opacity: 0;
         
     }
.art-descuentos{
    justify-content: space-around;
}

.container-products-2{
    display:flex;

}

.descripcion{
    display: block;
}

 }

 @media(min-width:1200px){
.container-products,.container-products-2,.container-products-3,.container-products-4{
 display:flex;
 width: 20%;
 }

.descripcion{
    
}

} 

@keyframes slider {
    0% { margin-left:0;}
    50%{ margin-left:0;}


    55% { margin-left:-100%;}
    70%{ margin-left:-100%;}

    75% { margin-left:-200%;}
    100%{ margin-left:-200%;}
}

@supports(object-fit: cover){
        img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
        }
    }
