:root {
  --number: 'Jostfamily';
  --letter: "Raleway", sans-serif;
 
  
  --primaryDarkColor: #3b8b66;
  --primaryColor: #73c39e;
  --contrastColor: #fab73d;
  --textPrimaryColor: #212121;
  --white: #ffffff;
  --hr-color: #212121;
  --grisOscuro: #666;
  --verde: #39b54a;
  --negro: #000;
  --bordeBoton: #b9aa1c;
  --sobreBoton: #b83e06;
  --footer: #dedede;
  --warning: #FF0000;

}
.logoPerrito{
  border-radius: 5%;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

.body-productDetail {
  font-family: "Lato", sans-serif;
}

.head {
  background-color: var(--primaryColor);
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  justify-content: space-around;
  min-width: 300px;
}
.foot {
  display: inline-flex;
  justify-content: center;
  flex-basis: 50%;
  background-color: var(--footer);
  width: 100vw;
}
.pricipal {
  background: repeating-linear-gradient(
    45deg,
    #eee,
    #eee 6px,
    #f2f2f2 6px,
    #f2f2f2 20px
  );
}

/*--------- LOGO ---------*/
div.header-logo {
  width: 4rem;
  height: 4rem;
  /* background-color: brown; */
}

/*--------- SEARCH BAR ---------*/
nav.header-search-bar {
  flex-basis: 30%;
}
form.form-search-bar {
  display: flex;
  position: relative;
  height: 2rem;
}
input.input-search {
  min-width: 2rem;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
}
button.button-search {
  position: absolute;
  right: 0px;
  width: 2rem;
  height: 100%;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

/*------------ BURGER -----------*/
div.header-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
}
span[class*="burger-bread"] {
  display: block;
  width: 24px;
  height: 3px;
  background-color: white;
}

/*--------- CART ICON ---------*/
div.header-shop {
  text-align: center;
  min-width: 2rem;
  width: 2rem;
}

/*--------- FOOTER CONTAINER ---------*/
.container {
  width: 80vw;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
/*--------- CONTACT DIV ---------*/
div.footer-div-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  flex-basis: 30%;
}
p.text-contact-us {
  font-size: 18px;
}

/*--------- PHONE DETAIL ---------*/
span.footer-container-phone {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  position: relative;
}
p.text-phone {
  display: inline-block;
}

/*--------- EMAIL DETAIL ---------*/
span.footer-container-email {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  position: relative;
}

/*--------- FOLLOW DIV ---------*/
div.footer-div-follow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  flex-basis: 30%;
}
p.text-follow-us {
  font-size: 18px;
}
span.footer-container-social-icons {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
span.footer-container-social-icons i:nth-child(n) {
  font-size: 30px;
}

/*--------- LOCATION DIV ---------*/
div.footer-div-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-basis: 40%;
}
div.google-location {
  background-color: red;
  width: 50%;
  flex-basis: 70%;
}


.cant{
  margin-top: 8px;
  padding: 5px;
}

.detalle{
  display: flex;
}

.primero{
  display: block;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  text-align: center;
  width: 40vw;
  position: relative;
  margin-top: 2%;
}

.seccion{
  display: flex;
}

.nombre{
  font-size: 12px;
  margin-top:5px;
  width: 40vw;
  margin-left:5px; 
 
}
.precio{
  font-size: 12px;
  padding: 2px;
  margin:5px;
  text-align:center;
}
.products-1{ 
  display: block;
  width: 10vw;
  height: 50%;
  margin-top: 5px;
  margin-left: 15px;
  padding: 0;
}
.prod{
  margin: 0;
  padding:0;
  width: 30vw;
}
.products2{
  display:flex;
  flex-direction:row;
}
.box-prod{
  width: 60%;
  vertical-align: top;
  padding: 0;
  margin: 0;
}
.add-carrito{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--contrastColor);
  height: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px black;
  width: 100%;
  position: absolute;
  left: 10%;
  padding: 5px;
}
.add-prodCart{
  text-decoration: none;
  color:black ;
  font-size: 14px;
  padding: 5px;
  text-align: center;
}
.primer{
    display: flex;
    justify-content:space-between ;
    margin-right: 5px;
    text-align: center;
    width: 70vw;
    padding: 10px;
    margin-bottom: 10px;
}
.cont{
  margin-right: 12px;
  text-align: center;
  width: 40vw;  
}

.inner-addonl{
    padding: 10px;
    width: 30px;
    margin-left: 20px;
}
.imagen{
  display: flex;
  width: 70vw;
}
.cantidad{
  width: 25%;
}
.detProd{
  font-weight: bold;
  font-size: 16px;
  width: 100vw;
  margin-top: 8%;
  padding: 10px;
  border-bottom: 1px solid black;
}
.titulo{
  font-weight: bold;
  font-size: 12px;
  padding: 2px;
  margin:5px;
  text-align:center;
  
}
.desc{
  display: none;
}
.especif{
  margin: 10px;  
  display: none;
}
.product1{
  border-radius:5px ;
  width: 100%;   
  margin-top: 10px;
  box-shadow: 0px 0px 5px 1px black;
  text-align:center;
}
.produc1{
  border-radius: 5px;
  width: 80%;
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 50px;
  background-color: var(--main-btn-color);
  box-shadow: 0px 0px 5px 1px black;
  text-align: center;
}
.art3, .art4{
  display: none;
}
.art{
padding: 20px;
display:block;
width: 100%;
margin-left:10px;
}


  @media (min-width: 768px) { /* Tablet */
    .art{
    padding: 12px;
    width: 32vw;
    margin-left: 5px;
    }
    .art3{
      display: block;
    }
    .detProd{
      font-size: 24px;
    }
    .nombre{
      font-size: 18px;
    }
    .precio{
      font-size: 18px;
    }
   .titulo{
    font-size: 18px;
   }
   .add-carrito{
   width: 70%;
    left: 20%;
   }
   .primero{
     margin-top: 5%;
   }
   .cont{
     padding: 3%;
   }
  }
  @media (min-width: 1200px) { /* PC */
    .art{
     padding: 15px;
     width: 23%;
     margin-left: 15px;
     }
     .art4{
      display: block;
     }
     .detProd{
       font-size: 26px;
     }
     .nombre{
      font-size: 24px;
      margin-bottom: 20px;
      text-align: left;
      margin-left: 35px;
     }
     .cant{
      font-size: 24px;
      margin-bottom: 20px;
      text-align: left;
      margin-left: 45px;
      width: 100%;
     }
     .cantidad{
      width: 35%;
      padding: 2px;
      margin: 5px;
  }
     
     .precio{
      font-size: 24px;
      padding: 10px;
      margin-bottom: 20px;
      margin-left: 105px;
      text-align: left;
    }
    .titulo{
     font-size: 24px;
     text-align: left;
     width: 30vw;
    }
    .imagen{
      margin-left: 15px;
    }
    .cont{
      width: 35vw;
      margin-left: 20px;
     
    }
    
    .add-carrito{
      width: 40%;
       left: 7%;
       height: 10%;
      }
      .primero{
        margin-top: 3%;
        margin-left: 35px;
        padding: 5px;
        width: 60%;
      }
      .cont{
        padding: 2%;
        width: 35%;
      }
      .add-prodCart{
        font-size: 16px;
      }
  }

/* Yani - Product Cart */

.mainProductCart {
  background: repeating-linear-gradient(
    45deg,
    #eee,
    #eee 6px,
    #f2f2f2 6px,
    #f2f2f2 20px
  );
}

.contenedorProductCart {
  margin: auto;
  width: 90%;
  box-shadow: 0px 0px 10px #646464;
  background-color:var(--white);
  border-radius: 2rem;
}

.masMenosProductCart {
  display: flex;
  justify-content: space-between;
}

.destornilladorProductCart {
  width: 35vw;
  height: 25vh;
  border-radius: 2rem;
  position: relative;
  left: 3%;
}

.productoProductCart {
  display: flex;
  flex-direction: row;
}

.datosProdProductCart {
  display: flex;
  flex-direction: column;
  width: 60vw;
  padding: 5%;
}

.descripcionProductCart {
  align-items: center;
  position: relative;
  left: 20%;
  top: 10%;
}

.preciosCantidadesProductCart {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 40%;
}

.lineaProductCart {
  border-top: 1px solid black;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto;
}

.totalProductCart {
  display: flex;
  justify-content: space-around;
}

.botonesProductCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.botonProductCart {
  border: 3px solid var(--bordeBoton);
  border-radius: 5px;
  width: 60vw;
  height: 8vh;
  background-color: var(--contrastColor);
  color: var(--negro);
}

.botonProductCart:hover {
  background-color: var(--sobreBoton);
}

.seccionDescuentosProductCart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.entradaProductCart {
  border: 3px solid var(--bordeBoton);
  border-radius: 5px;
  width: 60vw;
  height: 4vh;
  background-color: var(--white);
}

.titulosListaProductCart {
  display: none;
  padding-top: 1.3rem;
}

.escritosLista1ProductCart {
  display: none;
  font-size: 1.2rem;
  flex-grow: 0.5;
  text-align: right;
}

.escritosLista2ProductCart {
  display: none;
  font-size: 1.2rem;
  flex-grow: 0.4;
  text-align: center;
}
.escritosLista3ProductCart {
  display: none;
  font-size: 1.2rem;
  flex-grow: 0.2;
  text-align: left;
}
.escritosLista4ProductCart {
  display: none;
  font-size: 1.2rem;
  flex-grow: 0.22;
  text-align: left;
}

.precioUnitarioProductCart {
  display: none;
}

i.fas.fa-trash-alt:hover {
  color: var(--warning);
}

.descripcionProductCartHidden{
  display: none;
}

/*Product Cart*/

@media (min-width: 768px) {
  /* Tablet */

  .titulosListaProductCart {
    display: flex;
    justify-content: center;
  }

  .escritosLista3ProductCart {
    display: flex;
    position: relative;
    left: 21%;
  }
  .escritosLista4ProductCart {
    display: flex;
    position: relative;
    left: 14%;
  }

  .descripcionProductCart {
    order: 1;
    font-size: 1.2rem;
    position: relative;
    top: 70%;
    left: 40%;
  }

  .destornilladorProductCart {
    width: 32vw;
    height: 22vh;
  }

  i.fas.fa-trash-alt {
    font-size: 2rem;
  }

  .botonesProductCart {
    flex-direction: row;
    justify-content: space-around;
  }

  .botonProductCart {
    width: 30vw;
    height: 5vh;
  }

  .entradaProductCart {
    width: 40vw;
    height: 4vh;
  }
}

/*Product Cart*/

@media (min-width: 1200px) {
  /*Desktop */

  .destornilladorProductCart {
    width: 22vw;
    height: 22vh;
  }

  .descripcionProductCart {
    display: none;
  }

  .entradaProductCart {
    width: 20vw;
    height: 4vh;
  }

  .titulosListaProductCart {
    padding-top: 1.3rem;
    justify-content: center;
  }

  .escritosLista1ProductCart {
    display: flex;
    position: relative;
    left: 30%;
  }

  .escritosLista2ProductCart {
    display: flex;
    position: relative;
    left: 9.5%;
    color: var(--grisOscuro);
  }
  .escritosLista3ProductCart {
    left: -8.5%;
  }
  .escritosLista4ProductCart {
    left: -13%;
    color: var(--grisOscuro);
  }

  .precioUnitarioProductCart {
    display: block;
  }

  .preciosCantidadesProductCart {
    display: flex;
    justify-content: space-between;
    width: 95%;
  }

  .descripcionProductCartHidden{
    display: flex;
  }

}

/* mauro */

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-size: 1.2rem;
  min-height: 100%;
  min-width: 360px;
}
/* 
.grid-container > * {
  box-shadow: -1px 1px 7px 0px black;
  text-align: center;
} */

.grid-container {
  display: grid;
  grid-template:
    "header" 80px
    "nav" 0px
    "main" 600px
    "footer" 460px;
}

/**************** HEADER *******************/

/* HIDDEN ****************/
.support-bar {
  grid-area: "nav";
  overflow: hidden;
}

.nav-burger i:nth-child(2) {
  width: 0px;
  overflow: hidden;
}
/************************/

.nav-header {
  grid-area: "header";
  display: grid;
  grid-template: "logo searchBar burger";
  grid-template-columns: 80px auto 60px;
  background-color: var(--primaryColor);
  position: relative;
}

.nav-logo {
  grid-area: "logo";
  align-self: center;
}

.nav-search-bar {
  grid-area: "searchBar";
  align-self: center;
  position: relative;
}

.input-search {
  height: 2rem;
  width: 90%;
  outline: none;
  border: none;
  border-radius: 0.3rem 0px 0px 0.3rem;
  margin-left: 10px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
}

.button-search {
  position: absolute;
  height: 2rem;
  outline: none;
  border: none;
  background-color: var(--white);
  border-radius: 0px 0.3rem 0.3rem 0px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
}

.nav-burger {
  grid-area: "burger";
  align-self: center;
  justify-self: center;
  position: absolute;
  right: 12px;
}

/****************        *******************/

.main-content {
  grid-area: "main";
  background: repeating-linear-gradient(
    45deg,
    #f0f0f0,
    #f0f0f0 10px,
    #f2f2f2 10px,
    #f2f2f2 20px
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-login-container {
  max-width: 600px;
  width: 90%;
  height: 90%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 15%);
}
.div-box-login {
  width: 100%;
}
.form-login {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.div-formbox-user,
.div-formbox-password,
.div-formbox-email,
.div-formbox-phone {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-user-name,
.input-user-pass,
.input-user-email,
.input-user-phone {
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(0 0 0 / 15%);
  width: 80%;
  font-size: 1.5rem;
}

.icon-login {
  position: relative;
  top: 3px;
  font-size: 2rem;
  color: var(--contrastColor);
}

.button-login {
  width: 20%;
  height: 15%;
  border: none;
  background-color: var(--contrastColor);
}

.nav-footer {
  grid-area: "header";
  display: grid;
  grid-template:
    "Contact"
    "Follow"
    "Location";
  background-color: var(--primaryColor);
  gap: 20px;
}

.contact {
  grid-area: "Contact";
  align-self: center;
  text-align: center;
  font-family: "Jost";
}

.whatsapp i:nth-child(1) {
  position: relative;
  top: 6px;
  left: -11px;
}
.email i:nth-child(1) {
  position: relative;
  top: 6px;
}

.follow {
  grid-area: "Follow";
  align-self: center;
  text-align: center;
  font-family: "Jost";
  display: grid;
  grid-template:
    "p"
    "pp ppp ppp";
}

p {
  grid-column: 1/4;
}

.follow i:nth-child(2) {
  align-self: center;
  justify-self: right;
}
.follow i:nth-child(3) {
  align-self: center;
}
.follow i:nth-child(4) {
  align-self: center;
  justify-self: left;
}

.location {
  grid-area: "Location";
  align-self: center;
  text-align: center;
  background-color: var(--primaryColor);
}

.img-location {
  width: 200px;
  height: 200px;
}
/*/DESKTOP/*/
@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template:
      "header" 80px
      "nav" 40px
      "main" auto
      "footer" 360px;
  }

  /**************** HEADER *******************/

  /* HIDDEN ****************/
  .nav-burger i:nth-child(1) {
    width: 0px;
    overflow: hidden;
  }
  /*************************/

  /* SECONDARY BAR *******************/
  .support-bar {
    grid-area: "nav";
    display: grid;
    grid-template: "product login register";
    gap: 5px;
    grid-template-columns: max-content 1fr max-content max-content;
    background-color: var(--primaryDarkColor);
  }
  .products-bar {
    grid-area: "product";
    align-self: center;
  }

  .user-bar {
    grid-area: "register";
    align-self: center;
    position: relative;
    top: -3px;
  }

  span i:nth-child(1) {
    position: relative;
    top: 5px;
    left: -3px;
  }

  .login-bar {
    grid-area: "login";
    align-self: center;
  }
  /* SECONDARY BAR END *******************************/

  .nav-header {
    grid-area: "header";
    display: grid;
    grid-template: "logo searchBar burger";
    grid-template-columns: 1fr minmax(auto, 590px) 1fr;
    background-color: var(--primaryColor);
    position: relative;
  }

  .nav-burger {
    position: inherit;
  }

  .nav-burger i:nth-child(2) {
    justify-self: center;
    width: 2rem;
    overflow: hidden;
  }

  /*************************************************/

  .nav-footer {
    grid-area: "header";
    display: grid;
    grid-template: "Contact Follow Location";
    background-color: var(--primaryColor);
    gap: 20px;
  }

  .contact {
    background-color: var(--primaryColor);
  }
}

/******* NICOLAS *******/


.grid-container-home {
  display: grid;
  grid-template:
    "header" 80px
    "nav" 0px;
    font-family: var(--letter);
}

.banner a,
.banner-footer a {
  text-decoration: none;
  color: var(--main--textPrimaryColor);
}
.cat a {
  text-decoration: none;
  color: var(--main--textPrimaryColor)
}

/* ---------- SLIDER ---------- */

.slider {
  width: 100%;
  margin: auto;
  height: 200px;
  overflow: hidden;
}

.slider ul {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  width: 300%;
  height: 100%;
  animation: slider 20s infinite alternate;
}

.slider li {
  list-style: none;
  width: 100%;
  height: 100%;
}

.slider li img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* ---------- MAIN-DESCUENTAZOS ---------- */

.main-home {
  text-align: center;
  width: 100%;
  height:100%;
  background: repeating-linear-gradient(
    45deg,
    #f0f0f0,
    #f0f0f0 10px,
    #f2f2f2 10px,
    #f2f2f2 20px
  );  
  padding-bottom: 50px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.home-hr {
  border: solid var(hr-color) 1px;
}

.products-off {
  display: flex;
  justify-content: center;
  width: 100vw;
  text-align: center;
}
.products-list {
  display: flex;
  justify-content: center;
  width: 100vw;
  text-align: center;
  flex-direction: initial;
  flex-wrap: wrap;
  align-items: baseline;
}
.box-products,
.box-products-2,
.box-products-3,
.box-products-4 {
  width: 40%;
  text-align: center;
  transition: all 0.8s;
  margin: 10px;
}

.box-products-2,
.box-products-3,
.box-products-4 {
  display: none;
}

/* PRODUCTO */
.product {
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
  background-color: var(--contrastColor);
  box-shadow: 0px 0px 5px 1px black;
  text-align: center;
}

.product-footer {
  display: none;
  margin-top: 10px;
  text-overflow: Ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.box-products:hover .product-footer { 
  display: block;
}

.box-products-2:hover .product-footer {
  display: block;
} 
.box-products-3:hover .product-footer { 
  display: block;
}

.box-products-4:hover .product-footer {
  display: block;
}

.box-products:hover {
  transform: scale(1.05);
}

.box-products-2:hover {
  transform: scale(1.05);
}
.box-products-3:hover {
  transform: scale(1.05);
}
.box-products-4:hover {
  transform: scale(1.05);
}

.arrow-left,
.arrow-right {
  position: relative;
  top: 100px;
}

.arrow-right {
  order: 1;
}

.product-img {
  width: 100%;
  height: 70%;
  border-radius: 5px 5px 0 0;
}

.box-text-off {
  display: flex;
  flex-direction: column;
  position: relative;
}

.box-text-off p {
  display: flex;
  position: absolute;
  bottom: 1px ;
  background-color: red;
  border-radius: 0px 5px 5px 0px;
}
.box-prize-off p:last-child {
  color: #73c39e;
  align-self: center;
}

.prize-through {
  display: flex;
  color: black;
  text-decoration: line-through;
  font-family: var(--number);
}

.box-prize-off {
  display: flex;
  font-family: var(--number);
  justify-content: center;
  justify-content: flex-start;
  font-size: 18px;
}
.box-prize-off p:first-child {
  display: flex;
  font-size: 20px;
  position: relative;
  margin-right: 10px;
  font-family: var(--number);
}

/* ---------- ARTICLE-CATEGORIAS ---------- */

.art-categorias {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 2px 1px black;
  color: var(--main-title-text-color);
  height: 20vh;
  width: 80vw;
  padding: 3%;
}

.cat-box {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--contrastColor);
  height: 150px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px black;
}

.cat-box-2,
.cat-box-3,
.cat-box-4,
.cat-box-5 {
  display: none;
  box-shadow: 0px 0px 2px 1px black;
}

.cat-box a {
  font-size: 1.8em;
  font-weight: bold;
}

/* ---------- FOOTER ---------- */

.banner-footer {
  text-align: center;
  background: repeating-linear-gradient(
    45deg,
    #f0f0f0,
    #f0f0f0 10px,
    #f2f2f2 10px,
    #f2f2f2 20px
  );
}

.banner-footer nav div {
  list-style-type:none;
  display: flex;
  justify-content: space-evenly;
}

.banner {
  background: repeating-linear-gradient(
    45deg,
    #f0f0f0,
    #f0f0f0 10px,
    #f2f2f2 10px,
    #f2f2f2 20px
  );
}
.banner a {
  margin-top: 15px;
}

/* ---------- MEDIA-QUERIES ---------- */

@media (min-width: 768px) {
  .slider {
    height: 500px;
  }
  .header-burger {
    opacity: 0;
  }
  .products-off {
    justify-content: space-around;
  }

  .box-products {
    flex-basis: 20%;
  }
  .box-products-2 {
    display: block;
    flex-basis: 20%;
  }


  .box-prize-off {
    justify-content: flex-start;
  }
  .art-categorias {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 100%;
  }
  .grid-container-home {
    display: grid;
    grid-template:
      "header" 80px
      "nav" 40px;
  }
  
  .products-off {
    justify-content: space-around;
  }
  .cat-box {
    flex-basis: 25%;
    height: 250px;
  }
  .cat-box-2 {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--contrastColor);
    height: 250px;
    border-radius: 5px;
    flex-basis: 25%;
  }
  .cat-box-2 a,
  .cat-box a {
    font-size: 1.5em;
    font-weight: bold;
  }
}

@media (min-width: 1200px) {
  .box-products,
  .box-products-2,
  .box-products-3,
  .box-products-4 {
    display: flex;
    width: 20%;
  }
  .products-off {
    justify-content: space-evenly;
  }
  .slider {
    height: 850px;
  }

  /* ---------- CATEGORIAS DESTACADAS ---------- */

  .art-categorias {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 100%;
  }

  .cat-box-3,
  .cat-box-4 {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--contrastColor);
    height: 250px;
    border-radius: 5px;
    flex-basis: 25%;
  }
  .cat-box-3 a,
  .cat-box-4 a {
    font-size: 1.5em;
    font-weight: bold;
  }
}

@media (min-width: 1600px) {
  /* ---------- CATEGORIAS DESTACADAS ---------- */
  .art-categorias {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  .cat-box-5 {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--contrastColor);
    height: 250px;
    border-radius: 5px;
    flex-basis: 25%;
  }
  .cat-box-5 a {
    font-size: 1.5em;
    font-weight: bold;
  }
}
@keyframes slider {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 0;
  }

  55% {
    margin-left: -100%;
  }
  70% {
    margin-left: -100%;
  }

  75% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}

/* @supports(object-fit: cover){
      img{    
      object-fit: cover;
      object-position: center center;
      background-position: center;
      }
  } */

.cards-list {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: space-between;
}

.section-container {
  max-width: 600px;
  max-height: 800px;
  width: 98%;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 15%);
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-content: space-between;
  overflow: scroll;
}

.user-card {
  min-width: 340px;
  max-width: 560px;
  width: 100%;
  background-color: #ffffff;
  height: 90px;
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(0 0 0 / 15%);
}
.user-data {
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
}
.user-profile-card {
  width: 60px;
  height: 60px;
  border-radius: 28px;
}

/** FORM STANDAR ******************************/
.form-show-data-rows {
  max-width: 600px;
  max-height: 800px;
  width: 98%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 0.8fr  ;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.input-type-text {
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(0 0 0 / 15%);
  font-size: 1.2rem;
  transition:  0.5s;
}

.input-type-text:focus{
  border-bottom: 1px solid var(--primaryDarkColor);  
}


.form-select-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.label-text {
  height: 2rem;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(0 0 0 / 15%);
  font-size: 1.2rem;
  padding-top: 0.1rem;
  margin-right: 5px; 
  color:grey;
}

.form-button-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 0.5rem 0.2rem;
}

.button-standar {
  height: 2rem;
  border-radius: 0.2rem;
  border: none;
  background-color: var(--contrastColor);
}
.button-standar:hover{
  cursor:pointer;
}
.button-standar-warning{
  height: 2rem;
  border-radius: 0.2rem;
  border: none;
  background-color: var(--contrastColor);
  cursor: no-drop;
}
.button-standar-warning:hover{
  background-color: red;
  transition: all 1s;
  
}
/**********************************************/

.action-button {
  border: none;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}

.icon-button-delete {
  font-size: 2rem;
  color: var(--textPrimaryColor);
}

.icon-button-edit {
  font-size: 2rem;
  color: var(--textPrimaryColor);
}

a.link-form-button,
a.link-form-button:visited {
  text-align: center;
  padding-top: 0.22rem;
  height: 2rem;
  border-radius: 0.2rem;
  border: none;
  background-color: var(--contrastColor);
  color: var(--textPrimaryColor);
  text-decoration: none;
}


.home-edit{
  background-color: #3b8b66;
}

.title-edit{
    text-align: center;
    background-color: var(--contrastColor);
    border-radius: 5px 5px 0 0;

}

.main-content-edit {
  grid-area: "main";
  background: repeating-linear-gradient(
    45deg,
    #f0f0f0,
    #f0f0f0 10px,
    #f2f2f2 10px,
    #f2f2f2 20px
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height:700px;
}

.section-container-edit {
  max-width: 600px;
  width: 98%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 15%);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-content: space-between;
  /* overflow: scroll; */
}

.title-edit p{
  display:flex;
  font-size: 20px;
  height: 3em;
  align-items:center;
  justify-content:center;
}

.msg-error{
  text-align: center;
  color: var(--warning);
}

a:link {
  text-decoration: none
 }
a:hover { 
  color: black;  text-decoration: none
 }
a:visited {
  color: black;  text-decoration: none
 }