<%- include('../partials/head'); %>

<body class="grid-container">
    <header class="nav-header">
        <%- include('../partials/header'); %>
    </header>

    <nav class="support-bar">

        <span class="products-bar">Productos</span>
        <span></span>
        <span class="user-bar">
            <i class="material-icons">account_circle</i>Register
        </span>
        <span class="login-bar">Login</span>

    </nav>

    <main class="main-content-login">
        <section class="section-login-container">
                <form class="form-login" action="/edit" method="GET">
                    <p>Buscar producto:</p>
                    <div class='div-formbox-user'>
                        <input class='input-user-name' placeholder="Por ID" type='text' name="">
                    
                    </div>
                    <div class ='div-formbox-email'>
                        <input class='input-user-email' placeholder="Por Nombre" type='text' name="">
                        
                    </div>
                    <div class ='div-formbox-phone'>
                        <input class='input-user-phone' placeholder="Por Categoria" type='text' name="">
                        
                    </div>
                    <div class ='div-formbox-password'>
                        <input class='input-user-pass' placeholder="Por Precio" type='text'name="">
                    
                    </div>
                    <div class ='div-formbox-password'>
                        <input class='input-user-pass' placeholder="Por marca" type='text'name="">                    
                    </div>
                    <div class ='div-formbox-password'>
                        <input class='input-user-pass' placeholder="Esta en oferta ? " type="checkbox" name="offer">
                
                    </div>
                    <br>
                    <button class="button-login" type="submit" value="">Buscar</button>
                </form>
        </section>
    </main>

    <footer class="nav-footer">
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>