<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet">
  <title>ProductDetail</title>
</head>

<body class="body-productDetail">
  <header class="nav-header">
    <%- include('../partials/header') %>
  </header>

  <main>
    <div class="hola">
      <div class="primer">
        <div class="imagen">
          <div class="products-1">

            <div class="box-prod">
              <div class="product1">
                <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp"
                  alt="Foto de producto">
              </div>
            </div>

            <div class="box-prod">
              <div class="product1">
                <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp"
                  alt="Foto de producto">
              </div>
            </div>

            <div class="box-prod">
              <div class="product1">
                <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp"
                  alt="Foto de producto">
              </div>
            </div>

            <div class="box-prod">
              <div class="product1">
                <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp"
                  alt="Foto de producto">
              </div>
            </div>
          </div>

          <div class="prod">
            <img class="logoPerrito" src="image/sierra.jpg" alt="logo de ferreteria">
          </div>
        </div>
        <div class="primero">
          <p class="nombre">Sierra sensitiva DeWalt 14”</p>
          <p class="precio">$29.000</p>
          <div class="cant">
            <i class="fas fa-plus-circle"></i>
            <input class="cantidad">
            <i class="fas fa-minus-circle"></i>
          </div>

          
            <div class="cont">
              <p class="titulo">Especif. Tecnicas</p>
              <i class="fas fa-caret-down"></i>

              <div class="especif">
                <p class="texto">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
              </div>
            </div>

            <div class="cont">
              <p class="titulo">Descripcion</p>
              <i class="fas fa-caret-down"></i>
              <div class="desc">
                <p class="texto">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
              </div>
            </div>
         
        </div>
      </div>

      <div class="title">
        <p class="detProd">Productos relacionados</p>
      </div>
      <section class="seccion">
        <div class="products2">
          <!-- <div class="arrow-left"><i class="fas fa-angle-left"></i></div>
          <div class="arrow-right"><i class="fas fa-angle-right"></i></div> -->

          <article class="art1">
            <div class="produc1">
              <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp"
                alt="Foto de producto">
              <div class="box-text-off">
                <p>Oferta del dia</p>
              </div>
              <p class="prize-through">$2750</p>
              <div class="box-prize-off">
                <p>$1750</p>
                <p>30% OFF</p>
              </div>
              <p class="product-footer">Hacha de mano Cabo de madera 600grs.</p>
            </div>
          </article>

          <article class="art2">
            <div class="produc1">
              <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp"
                alt="Foto de producto">
              <div class="box-text-off">
                <p>Oferta del dia</p>
              </div>
              <p class="prize-through">$2750</p>
              <div class="box-prize-off">
                <p>$1750</p>
                <p>30% OFF</p>
              </div>
              <p class="product-footer">Hacha de mano Cabo de madera 600grs.</p>
            </div>
          </article>

          <article class="art3">
            <div class="produc1">
              <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp"
                alt="Foto de producto">
              <div class="box-text-off">
                <p>Oferta del dia</p>
              </div>
              <p class="prize-through">$2750</p>
              <div class="box-prize-off">
                <p>$1750</p>
                <p>30% OFF</p>
              </div>
              <p class="product-footer">Hacha de mano Cabo de madera 600grs.</p>
            </div>
          </article>

          <article class="art4">
            <div class="produc1">
              <img class="product-img" src="https://http2.mlstatic.com/D_NQ_NP_732978-MLA46116430743_052021-O.webp"
                alt="Foto de producto">
              <div class="box-text-off">
                <p>Oferta del dia</p>
              </div>
              <p class="prize-through">$2750</p>
              <div class="box-prize-off">
                <p>$1750</p>
                <p>30% OFF</p>
              </div>
              <p class="product-footer">Hacha de mano Cabo de madera 600grs.</p>
            </div>
          </article>

        </div>
      </section>
    </div>
  </main>
  <footer class="nav-footer">
    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>