<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Cart</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="nav-header">
        <%- include('../partials/header') %>
    </header>
    <main class="main-content-login">
        <div class="mainProductCart">
        <br>
        <br>
        <div class="contenedorProductCart">
            <div class="titulosListaProductCart">
                <strong class="escritosLista1ProductCart"> Detalle</strong>
                <strong class="escritosLista2ProductCart">Precio unitario</strong>
                <strong class="escritosLista3ProductCart">Cantidad</strong>
                <strong class="escritosLista4ProductCart">Sub Total</strong>
            </div>
            <article class="productoProductCart">
                <img class="destornilladorProductCart" src="/images/destornillador.jpg" alt="destornillador">
                <div class="datosProdProductCart">
                    <p class="descripcionProductCart">Destornillador</p>
                    <div class="preciosCantidadesProductCart">
                        <p class="descripcionProductCartHidden">Destornillador</p>
                        <p class="precioUnitarioProductCart">$400</p>
                        <div class="masMenosProductCart">
                            <i class="fas fa-plus-circle"></i>
                            <p>1</p>
                            <i class="fas fa-minus-circle"></i>
                        </div>
                        <p>$400</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </article>
            <br>
            <hr>
            <article class="productoProductCart">
                <img class="destornilladorProductCart" src="/images/destornillador.jpg" alt="destornillador">
                <div class="datosProdProductCart">
                    <p class="descripcionProductCart">Destornillador</p>
                    <div class="preciosCantidadesProductCart">
                        <p class="descripcionProductCartHidden">Destornillador</p>
                        <p class="precioUnitarioProductCart">$400</p>
                        <div class="masMenosProductCart">
                            <i class="fas fa-plus-circle"></i>
                            <p>1</p>
                            <i class="fas fa-minus-circle"></i>
                        </div>
                        <p>$400</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </article>
            <br>
            <hr>
            <article class="productoProductCart">
                <img class="destornilladorProductCart" src="/images/destornillador.jpg" alt="destornillador">
                <div class="datosProdProductCart">
                    <p class="descripcionProductCart">Destornillador</p>
                    <div class="preciosCantidadesProductCart">
                        <p class="descripcionProductCartHidden">Destornillador</p>
                        <p class="precioUnitarioProductCart">$400</p>
                        <div class="masMenosProductCart">
                            <i class="fas fa-plus-circle"></i>
                            <p>1</p>
                            <i class="fas fa-minus-circle"></i>
                        </div>
                        <p>$400</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </article>
            <br>
            <hr>
            <article class="productoProductCart">
                <img class="destornilladorProductCart" src="/images/destornillador.jpg" alt="destornillador">
                <div class="datosProdProductCart">
                    <p class="descripcionProductCart">Destornillador</p>
                    <div class="preciosCantidadesProductCart">
                        <p class="descripcionProductCartHidden">Destornillador</p>
                        <p class="precioUnitarioProductCart">$400</p>
                        <div class="masMenosProductCart">
                            <i class="fas fa-plus-circle"></i>
                            <p>1</p>
                            <i class="fas fa-minus-circle"></i>
                        </div>
                        <p>$400</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </article>
            <br>
            <hr>
            <article class="productoProductCart">
                <img class="destornilladorProductCart" src="/images/destornillador.jpg" alt="destornillador">
                <div class="datosProdProductCart">
                    <p class="descripcionProductCart">Destornillador</p>
                    <div class="preciosCantidadesProductCart">
                        <p class="descripcionProductCartHidden">Destornillador</p>
                        <p class="precioUnitarioProductCart">$400</p>
                        <div class="masMenosProductCart">
                            <i class="fas fa-plus-circle"></i>
                            <p>1</p>
                            <i class="fas fa-minus-circle"></i>
                        </div>
                        <p>$400</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </article>
            <br>
            <hr>
            <article class="productoProductCart">
                <img class="destornilladorProductCart" src="/images/destornillador.jpg" alt="destornillador">
                <div class="datosProdProductCart">
                    <p class="descripcionProductCart">Destornillador</p>
                    <div class="preciosCantidadesProductCart">
                        <p class="descripcionProductCartHidden">Destornillador</p>
                        <p class="precioUnitarioProductCart">$400</p>
                        <div class="masMenosProductCart">
                            <i class="fas fa-plus-circle"></i>
                            <p>1</p>
                            <i class="fas fa-minus-circle"></i>
                        </div>
                        <p>$400</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </article>
            <div class="lineaProductCart"></div>
            <br>
            <article class="totalProductCart">
                <p>Total</p>
                <p>$2400</p>
            </article>
            <div class="lineaProductCart"></div>
            <br>
            <br>
            <section class="seccionDescuentosProductCart">
            <p class="descuentoProductCart">Descuentos y cupones</p>
            <div class="descuentoProductCart">
                <input type="text" name="cupon" placeholder="Ingresa el codigo de tu cupon" class="entradaProductCart">
            </div>
            <br>
            </section>
            <br>
            <article class="botonesProductCart">
                    <button class="botonProductCart">Finalizar la compra</button>
                    <br>
                    <br>
                    <button class="botonProductCart">Continuar comprando</button>
            </article>
            <br>
        </div>
        <br>
        <br>
    </div>
    </main>
    <footer class="nav-footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>