<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost&family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productListStyle.css">
    <title>Product list</title>
</head>
<body>
    <header>
        <div class="header-logo">
            <!-- <img src="someimage.com" alt="logo de ferreteria"> -->
        </div>
        <nav class="header-search-bar">
            <form class="form-search-bar">
                <input class="input-search" type="text" placeholder="Buscar...">
                <button class="button-search" type="submit" value="">
                    <i class="material-icons">
                    search
                    </i>
                </button>
            </form>
        </nav>
        <div class="header-burger">
            <span class="burger-bread-top"></span>
            <span class="burger-bread-paty"></span>
            <span class="burger-bread-bottom"></span>
        </div>
        <div class="header-shop">
            <i class="material-icons">
                shopping_cart
            </i>
        </div>
    </header>
    <section class="asd">
    </section>
    <footer>
        <div class="container">
            <div class="footer-div-contact">
                <p class="text-contact-us">CONTACTANOS</p>
                <br>
                <span class="footer-container-phone">
                    <i class="material-icons">whatsapp</i>
                    <p class="text-phone">+5491158763838</p>
                </span>
                <span class="footer-container-email">
                    <i class="material-icons">alternate_email</i>
                    <p class="text-email">ferreteria@gmail.com</p>
                </span>
            </div>
            <br>
            <div class="footer-div-follow">
                <p class="text-follow-us">SEGUINOS</p>
                <span class="footer-container-social-icons">
                    <i class="material-icons">facebook</i>
                    <i class="material-icons">flutter_dash</i>
                    <i class="material-icons">camera_alt</i>
                </span>
            </div>

            <div class="footer-div-location">
                <p class="text-location"> 123 Calle falsa </p>
                <div class="google-location"></div>
            </div>

        </div>
    </footer>
</body>
</html>