<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    

    <div class="grid-container-home">
        <header class="nav-header">
            <%-include('../partials/header') %>
        </header>
    
      <%-include('../partials/nav-bar') %>
    </div>

    <main class="main-content-login">
        <div class="mainProductCart">
        <br>
        <br>
        <div class="contenedorProductCart">
            <div class="titulosListaProductCart">
                <strong class="escritosLista1ProductCart"> Detalle</strong>
                <strong class="escritosLista2ProductCart">Precio unitario</strong>
                <strong class="escritosLista3ProductCart">Cantidad</strong>
                <strong class="escritosLista4ProductCart">Sub Total</strong>
            </div>
            <article class="productoProductCart">
                <img class="destornilladorProductCart" src="http://d3ugyf2ht6aenh.cloudfront.net/stores/001/144/668/products/70621-a5339c8b88541e25fc15917450932542-640-0.png" alt="destornillador">
                <div class="datosProdProductCart">
                    <p class="descripcionProductCart">Fastix</p>
                    <div class="preciosCantidadesProductCart">
                        <p class="descripcionProductCartHidden">Fastix</p>
                        <p class="precioUnitarioProductCart">$400</p>
                        <div class="masMenosProductCart">
                            <i class="fas fa-plus-circle"></i>
                            <p class="pcant">1</p>
                            <i class="fas fa-minus-circle"></i>
                        </div>
                        <p>$400</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </article>
            <br>
            <hr>
            <article class="productoProductCart">
                <img class="destornilladorProductCart" src="https://http2.mlstatic.com/D_NQ_NP_618393-MLA43998977233_112020-O.jpg" alt="destornillador">
                <div class="datosProdProductCart">
                    <p class="descripcionProductCart">Set Herramientas</p>
                    <div class="preciosCantidadesProductCart">
                        <p class="descripcionProductCartHidden">Set Herramientas</p>
                        <p class="precioUnitarioProductCart">$8.000</p>
                        <div class="masMenosProductCart">
                            <i class="fas fa-plus-circle"></i>
                            <p class="pcant">1</p>
                            <i class="fas fa-minus-circle"></i>
                        </div>
                        <p>$8.000</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </article>
            <br>
            <hr>
            <article class="productoProductCart">
                <img class="destornilladorProductCart" src="https://http2.mlstatic.com/D_NQ_NP_766501-MLA31029385537_062019-O.jpg" alt="destornillador">
                <div class="datosProdProductCart">
                    <p class="descripcionProductCart">Taco</p>
                    <div class="preciosCantidadesProductCart">
                        <p class="descripcionProductCartHidden">Taco</p>
                        <p class="precioUnitarioProductCart">$100</p>
                        <div class="masMenosProductCart">
                            <i class="fas fa-plus-circle"></i>
                            <p class="pcant">1</p>
                            <i class="fas fa-minus-circle"></i>
                        </div>
                        <p>$100</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </article>
            <br>
            <hr>
            <article class="productoProductCart">
                <img class="destornilladorProductCart" src="https://http2.mlstatic.com/D_NQ_NP_897407-MLA43472682977_092020-O.jpg" alt="destornillador">
                <div class="datosProdProductCart">
                    <p class="descripcionProductCart">Amoladora</p>
                    <div class="preciosCantidadesProductCart">
                        <p class="descripcionProductCartHidden">Amoladora</p>
                        <p class="precioUnitarioProductCart">$12.000</p>
                        <div class="masMenosProductCart">
                            <i class="fas fa-plus-circle"></i>
                            <p class="pcant">1</p>
                            <i class="fas fa-minus-circle"></i>
                        </div>
                        <p>$400</p>
                        <i class="fas fa-trash-alt"></i>
                    </div>
                </div>
            </article>
            <br>
            <hr>

            <div class="lineaProductCart"></div>
            <br>
            <article class="totalProductCart">
                <p><b>Total</b></p>
                <p><b>$20.500</b></p>
            </article>
            <div class="lineaProductCart"></div>
            <br>
            <br>
            <section class="seccionDescuentosProductCart">
            <p class="descuentoProductCart"><b>Descuentos y cupones</b></p>
            <div class="descuentoProductCart">
                <input type="text" name="cupon" placeholder="Ingresa el codigo de tu cupon" class="entradaProductCart">
            </div>
            <br>
            </section>
            <br>
            <article class="botonesProductCart">
                    <button class="botonProductCart">Finalizar la compra</button>
                    <br>
                    <br>
                    <button class="botonProductCart">Continuar comprando</button>
            </article>
            <br>
        </div>
        <br>
        <br>
    </div>
    </main>
    <footer class="nav-footer">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>